<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Alert, <%= @user.name %></h1>
    <p>
      Date: <%= Date %>.<br>
    </p>
    <p>
      It was cerated a new alert <%= @mac %>.<br>
    </p>
    <p>
        Alert message: <b><%= @message %></b>.<br>
    </p>
    <p>
      To see this reading go to... <%= @url %>.
    </p>
    <p>Thanks for reading have a great day!</p>
  </body>
</html>