<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @erro_login_password.id %>
</p>

<p>
  <strong>Erro:</strong>
  <%= @erro_login_password.erro %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @erro_login_password.mensagem %>
</p>

<%= link_to 'Edit', edit_erro_login_password_path(@erro_login_password) %> |
<%= link_to 'Back', erro_login_passwords_path %>
