<div class="container" style=" border: 2px solid #fff; border-radius: 5px;background-color: #fff;margin-top: 10px;">
	<center>
		<h2>Users Manager</h2>
		<br>

	</center>
	
	<table id="example" class="display" style="width:100%"> 
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><% if user.role == 1 %>
					Admin User
					<% else %>
					Regular User
					<% end %></td>
					<td>
						<form method="POST" action="<%= delete_user_path %>" style="display: inline;">
							<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<input type="hidden" name="id" value="<%= user.id%>">
							<a onclick="sub(this);" class="btn btn-danger" style="    color: white;margin:0px!important;padding: 5px!important;text-transform: none!important;"><i class="fas fa-trash-alt"></i> Delete</a> 
						</form>
						<a  href="<%= edit_user_get_path(user.id)%>"class="btn btn-success" style="  color: white;margin:0px!important;padding: 5px!important;text-transform: none!important;"><i class="fas fa-pencil-alt"></i> Edit</a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<br>
	</div>
	<script type="text/javascript">
		var jQuery_2 = $.noConflict(true);
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#example').DataTable();
		} );
		function sub($this)
		{
			var r = confirm("Are you sure?");
			if (r == true) {
				$this.parentNode.submit();

			} else {

			}

		}
	</script>