<div class="container" style=" border: 2px solid #fff; border-radius: 5px;background-color: #fff;margin-top: 10px;">
	<center>
		<h2>Edit Alert</h2>
		<br></center>
		<form id="form_newAlert" method="POST" action="<%= myAlertsEditPost_path %>" >
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<input id="sensor_id_alert" type="hidden" name="sensorId" value="<%= @alert.id%>">
			<div class="form-group">
				<label for="message">Message to Send</label><input required type="text" class="form-control" name="message" required value="<%= @alert.message %>">
			</div>
			<div class="form-group">
				<label for="desc">Min of Safe Range</label><input id="min2" required type="number" class="form-control" step="0.01" name="min" required onchange="setMin2(this)" value="<%= @alert.min %>">
			</div>
			<div class="form-group">
				<label for="desc">Max of Safe Range</label><input required id="max2" type="number" class="form-control" step="0.01" name="max" required onchange="setMax2(this)" value="<%= @alert.max %>">
			</div>
			<input class="btn btn-outline-warning" type="submit" value="Create" style="padding: 5px!important;margin: 1px!important;">
			<a href="<%= myAlerts_path %>" class="btn btn-outline-darkk" style="padding: 5px!important;margin: 1px!important;">Cancel</a>
		</form>
	
	
	
	<br>
</div>
<script type="text/javascript">
	function setMin2($this)
	{
		document.getElementById('max2').min=$this.value;
	}
	function setMax2($this)
	{
		document.getElementById('min2').max=$this.value;
	}
</script>